# .gitignore

# Ignore virtual environments
venv/

# Ignore binary files
chromedriver

compress_images.py

backend/node_modules/
frontend/node_modules/

**/__pycache__/

.DS_Store
.vscode/

frontend/build/