# .gitignore

# Ignore virtual environments
venv/

# Ignore binary files
chromedriver

compress_images.py

backend/node_modules/
frontend/node_modules/

**/__pycache__/

.DS_Store
.vscode/

frontend/build/

backend/.env.local
backend/.env.production

backend/app/caravan_automation/.serverless/
backend/app/caravan_automation/layer/
backend/app/caravan_automation/node_modules/

backend/app/scrapers-local-testing/node_modules/
backend/app/scrapers-local-testing/chromium-v131.0.1-pack/
