/* Header Styles */
header {
  background-color: var(--secondary-color);
  height: 18vh;
  padding: 0 20px;
}

.header-left,
.header-center,
.header-right {
  flex: 1;
}

.header-left {
  justify-content: flex-start;
  gap: 5px;
}

.header-left button {
  color: var(--primary-color);
}

.header-logo img {
  width: 150px;
  height: auto;
}

.header-right {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-right: 2%;
}

.header-icon {
  font-size: 30px;
  color: var(--primary-color);
}

button, .header-right img {
  border: none;
  background: none;
  cursor: pointer;
}

.header-menu {
  display: none; /* Hide the menu by default */
}

/* Header Media Queries */
@media (max-width: 600px) {
  .header-left, .header-right {
    display: none; /* Hide left and right header parts */
  }

  .header-menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
  }

  header {
    margin-left: 10%;
    margin-right: 10%;
  }

  .header-menu button {
    width: 50px;
    height: 50px;
  }

  .header-menu a {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
  }

  .menu-button {
    font-size: 300%;
    color: var(--primary-color);
  }

  .header-menu img {
    width: 30px;
    height: 30px;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--secondary-color);
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .dropdown-menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-container {
    text-decoration: none;
  }

  .dropdown-menu a:hover, .dropdown-menu button:hover {
    background-color: rgb(212, 199, 161);
  }
}

/* Footer Styles */
footer {
  background-color: var(--secondary-color);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: var(--primary-color);
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-center {
  align-items: center;
}

.footer-center img {
  width: 150px;
  height: auto;
  padding-top: 20%;
}

.footer-right {
  align-items: flex-end;
}

footer a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.footer-left a:hover,
.footer-right a:hover {
  text-decoration: underline;
}

/* Landing Page Styles */
.landing-page {
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  background-color: white;
}

.landing-welcome {
  background: url('/public/images/header/background.jpg') center/cover no-repeat;
  height: auto;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-welcome-content {
  width: 80%;
  max-width: 1200px;
  height: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.landing-welcome-content h2 {
  color: var(--primary-color);
  font-size: 250%;
}

/* Landing Intro and Info */
.landing-intro, .landing-info {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  padding-left: 8%;
  padding-right: 8%;
}

.landing-intro {
  background-color: var(--secondary-color);
  min-height: 20vh;
  padding-top: 30px;
  padding-bottom: 20px;
}

.landing-info {
  background-color: white;
  min-height: 40vh;
  padding-top: 5vh;
}

.landing-intro h1, .landing-info h1 {
  text-align: center;
  width: 100%;
  font-weight: lighter;
  font-size: 350%;
}

.landing-intro p {
  line-height: 1.5;
  font-size: 150%;
}

.landing-info-questions {
  border-top: 1px solid #ccc;
  padding-bottom: 5vh;
}

/* Landing Page Media Queries */
@media (min-width: 768px) {
  .landing-intro {
    flex-direction: row;
  }

  .landing-intro h1 {
    flex: 1;
    text-align: left;
    line-height: 0%;
  }

  .landing-intro p {
    flex: 1;
    text-align: left;
  }

  .landing-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .landing-info h1 {
    text-align: left;
    width: 30%;
  }

  .landing-info-questions {
    width: 60%;
    padding-top: 10px;
  }
}

/* Landing Separators */
.landing-separator {
  width: 100vw;
  height: 5vh;
  background: linear-gradient(to top left, var(--secondary-color) 50%, white 50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.landing-separator-reverse {
  width: 100vw;
  height: 5vh;
  background: linear-gradient(to top left, white 50%, var(--secondary-color) 50%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

/* Landing Questions */
.landing-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.landing-question {
  display: flex;
  align-items: center;
  width: 100%;
  color: black;
  font-size: 140%;
}

.landing-toggle {
  margin-left: auto;
}

.landing-answer {
  margin-top: 10px;
  width: 100%;
}

/* Landing Gallery */
.landing-gallery-container {
  background-color: white;
}

.landing-gallery {
  display: flex;
  padding-top: 50px;
  padding-left: 2%;
  padding-right: 2%;
}

.landing-gallery-column {
  background-clip: padding-box;
  margin: 0 5px;
}

.landing-gallery-item {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.landing-gallery-item img {
  width: 100%;
  height: auto;
}

/* Logos Section */
.trip-logos {
  text-align: center;
  padding: 2rem 0;
  background-color: white;
}

.trip-logos h2 {
  color: #2c3e50;
  margin-bottom: 2rem;
  font-weight: normal;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  width: 150px;
}

.logo-item img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-item p {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #2c3e50;
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* Calendar Styles */
.calendar-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.custom-calendar {
  max-width: 100%;
  width: 300px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .calendar-wrapper {
    left: 0;
    transform: none;
    width: 100%;
  }

  .custom-calendar {
    width: 100%;
  }
}

/* Blur Effect */
.blur-effect {
  filter: blur(5px); /* Adjust the blur value as needed */
}
