/* Header Styles */
header {
  background-color: var(--secondary-color);
  height: 18vh;
  padding: 0 20px;
}

.header-left,
.header-center,
.header-right {
  flex: 1;
}

.header-left {
  justify-content: flex-start;
  gap: 5px;
}

.header-left button {
  color: var(--primary-color);
}

.header-logo img {
  width: 150px;
  height: auto;
}

.header-right {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-right: 2%;
}

.header-icon {
  font-size: 30px;
  color: var(--primary-color);
}

button, .header-right img {
  border: none;
  background: none;
  cursor: pointer;
}

.header-menu {
  display: none; /* Hide the menu by default */
}

/* Header Media Queries */
@media (max-width: 600px) {
  .header-left, .header-right {
    display: none;
  }

  .header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-logo img {
    width: 120px;
  }

  .header-menu {
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: flex-end;
    width: auto;
  }

  header {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 18vh;
  }

  .header-menu button {
    width: 50px;
    height: 50px;
  }

  .header-menu a {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
  }

  .menu-button {
    font-size: 300%;
    color: var(--primary-color);
  }

  .header-menu img {
    width: 30px;
    height: 30px;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding: 0;
  }

  .dropdown-menu.open {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 18vh;
    margin: 0;
    padding: 0;
  }

  .dropdown-menu.open button,
  .dropdown-menu.open a,
  .dropdown-menu.open .mobile-trips-dropdown button,
  .icon-container {
    width: 100%;
    color: var(--primary-color);
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0;
  }

  .mobile-trips-dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
  }

  .dropdown-menu a:hover, .dropdown-menu button:hover {
    background-color: rgb(212, 199, 161);
  }

  .dropdown-menu a.coming-soon:hover, .dropdown-menu button.coming-soon:hover {
    background-color: white;
  }
}

/* Footer Styles */
footer {
  background-color: var(--secondary-color);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: var(--primary-color);
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-center {
  align-items: center;
}

.footer-center img {
  width: 150px;
  height: auto;
  padding-top: 20%;
}

.footer-right {
  align-items: flex-end;
}

footer a {
  color: var(--primary-color-dark);
  font-size: 14px;
  text-decoration: none;
}

.footer-left a:hover,
.footer-right a:hover {
  text-decoration: underline;
}

/* Landing Page Styles */
.landing-page {
  font-family: "Orpheus Pro", New Century Schoolbook, TeX Gyre Schola, serif;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  background-color: white;
}

.landing-welcome {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
              url('https://caravan-bucket.s3.us-east-2.amazonaws.com/images/header/background.jpg') center/cover no-repeat;
  height: auto;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.landing-welcome-content {
  width: 90%;
  max-width: 1200px;
  height: 100%;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  position: relative;
}

.landing-welcome-content h2 {
  color: var(--primary-color);
  font-size: 2.25rem;
  margin-bottom: 50px;
  font-weight: light;
  width: 80%;
  margin-left: 10%;
}

/* Landing Intro */
.landing-intro {
  display: flex;
  flex-direction: column;
  padding: 5% 8%;
  background-color: var(--secondary-color);
}


.landing-intro h1 {
  text-align: center;
  width: 100%;
  font-weight: lighter;
  font-size: 4rem;
  margin-top: 0;
  margin-right: 5%;
}

.landing-intro p {
  line-height: 1.5;
  font-size: 150%;
  margin-top: 0;
}

/* Landing Page Media Queries */
@media (min-width: 768px) {
  .landing-intro {
    flex-direction: row;
  }

  .landing-intro h1 {
    flex: 1;
    text-align: left;
  }

  .landing-intro p {
    flex: 1;
    text-align: left;
  }
}

/* Landing Separators */
.landing-separator {
  width: 100vw;
  height: 5vh;
  background: linear-gradient(to top left, var(--secondary-color) 50%, white 50%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.landing-separator-reverse {
  width: 100vw;
  height: 5vh;
  background: linear-gradient(to top left, white 50%, var(--secondary-color) 50%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

/* Landing Gallery */
.landing-gallery-container {
  background-color: white;
}

.landing-gallery {
  display: flex;
  padding-top: 50px;
  padding-left: 2%;
  padding-right: 2%;
}

.landing-gallery-column {
  background-clip: padding-box;
  margin: 0 5px;
}

.landing-gallery-item {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.landing-gallery-item img {
  width: 100%;
  height: auto;
}

/* Logos Section */
.trip-logos {
  text-align: center;
  padding: 2rem 0;
  background-color: white;
}

.trip-logos h2 {
  color: var(--primary-color);
  margin-bottom: 2rem;
  font-size: 300%;
  font-family: inherit;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 3rem;
  width: 150px;
  cursor: pointer;
}

.disabled {
  cursor: default;
}

.logo-item img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-item p {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #2c3e50;
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* Calendar Styles */
.calendar-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.custom-calendar {
  max-width: 100%;
  width: 300px;
  margin: 0 auto;
}

.learn-more-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
}

@media (max-width: 768px) {
  .calendar-wrapper {
    left: 0;
    transform: none;
    width: 100%;
  }

  .custom-calendar {
    width: 100%;
  }

  .landing-welcome-content h2 {
    font-size: 1.5rem;
  }

  .landing-intro h1 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 30px;
  }

  .landing-intro p {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  .logo-container {
    justify-content: space-evenly;
  }

  .logo-item {
    margin: 2rem 1rem;
    padding: 0;
    margin: 0;
    width: 125px;
  }

  .logo-item img {
    width: 125px;
    height: 125px;
  }

  .learn-more-btn {
    font-size: 0.8rem;
  }
}

.blur-effect {
  filter: blur(5px);
}

.learn-more-btn:hover {
  background-color: var(--primary-color-dark);
}

/* Header specific coming soon buttons */
.dropdown-menu button.dropdown-coming-soon,
.trips-dropdown button.dropdown-coming-soon {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.dropdown-coming-soon:hover {
  background-color: var(--primary-color);
  cursor: default;
}

.available-trip {
  background-color: var(--secondary-color);
}

/* Homepage specific coming soon buttons */
.trip-logos .coming-soon {
  background-color: white;
  color: var(--primary-color);
  opacity: 0.6;
  border: 1px solid var(--primary-color);
  opacity: 1;
}

.trip-logos .coming-soon:hover {
  cursor: default;
}

/* Trips Dropdown Styles */
.trips-dropdown-container {
  position: relative;
}

.trips-dropdown {
  position: absolute;
  top: calc(100% + 15px);  /* Keep the visual spacing */
  left: 0;
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 15px;  /* Add padding to top of dropdown */
  margin-top: -15px;  /* Pull the padding up to fill the gap */
}

.trips-dropdown button {
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-decoration: none;
}

.trips-dropdown button:hover {
  text-decoration: underline;
}

/* Mobile Trips Dropdown */
.mobile-trips-dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-trips-dropdown button {
  width: 100%;
  color: var(--primary-color);
}

/* Add this new class for body when dropdown is open */
.body-no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}