/* contains header, footer, landing page styles */

/* header */
.blur-effect {
  filter: blur(5px); /* Adjust the blur value as needed */
}

header {
  background-color: rgb(238, 230, 206);
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-left,
.header-center,
.header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-left {
  justify-content: flex-start;
  gap: 5px;
}

.header-left button {
  color: rgb(5, 89, 26);
}

.header-logo img {
  width: 150px;
  height: auto;
}

.header-right {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-right: 2%;
}

.header-icon {
  font-size: 30px;
  color: rgb(5, 89, 26);
}

button, .header-right img {
  border: none;
  background: none;
  cursor: pointer;
}

.header-menu {
  display: none; /* Hide the menu by default */
}

@media (max-width: 600px) {
  .header-left, .header-right {
    display: none; /* Hide left and right header parts */
  }
  
  .header-menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
  }

  header {
    margin-left: 10%;
    margin-right: 10%;
  }

  .header-menu button {
    width: 50px;
    height: 50px;
  }

  .header-menu a {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
  }

  .menu-button {
    font-size: 300%;
    color: rgb(5, 89, 26);
  }

  .header-menu img {
    width: 30px;
    height: 30px;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(238, 230, 206);
    width: 100%; /* Adjust as necessary */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  .dropdown-menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .dropdown-menu a:hover, .dropdown-menu button:hover {
    background-color: rgb(212, 199, 161);
  }

}

/* footer */
footer {
  background-color: rgb(238, 230, 206);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color:rgb(5, 89, 26);
}

.footer-left,
.footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-center h1 {
  font-weight: lighter;
}

.footer-left {
  justify-content: flex-start;
  gap: 5px;
  text-align: left;
  padding-left: 40px;
}

.footer-right {
  justify-content: flex-end;
  gap: 5px;
  text-align: right;
  padding-right: 40px;
}

footer a {
  color: black; /* Change the color to black or any color you prefer */
  font-size: 14px; /* Adjust the font size as needed */
  text-decoration: none; /* Remove underlines */
}

.footer-left a:hover,
.footer-right a:hover {
  text-decoration: underline; /* Add underline on hover if desired */
}

/* landing page */
.landing-page {
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  margin: 0;
  padding: 0;
  color: rgb(5, 89, 26);
  background-color: white;
}

.landing-welcome {
  background: url('/public/images/header/background.jpg') center/cover no-repeat;
  height: 75vh;
}

.landing-welcome-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing-welcome-content h2 {
  color: rgb(5, 89, 26);
}

.landing-welcome-content button {
  color: rgb(5, 89, 26);
  background-color: rgb(238, 230, 206);
  height: 40px;
  width: 80px;
  border-radius: 5px;
}

/* Base styles (mobile view) */
.landing-intro, .landing-info {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-left: 8%;
    padding-right: 8%;
}

.landing-intro {
  background-color: rgb(238, 230, 206);
  min-height: 20vh;
  padding-bottom: 10%;
}

.landing-info {
  background-color: white;
  min-height: 40vh;
  padding-top: 5vh;
}

.landing-intro h1, .landing-info h1 {
    text-align: center;
    width: 100%;
    font-weight: lighter;
    font-size: 350%;
}

.landing-info-questions {
    border-top: 1px solid #ccc;
}

/* Styles for screens wider than 768px */
@media (min-width: 768px) {
    .landing-intro {
        flex-direction: row;
    }

    .landing-intro h1 {
        flex: 1; 
        text-align: left;
        line-height: 0%;
    }

    .landing-intro p {
        flex: 1;
        text-align: left;
    }

    .landing-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .landing-info h1 {
        text-align: left;
        width: 30%;
    }

    .landing-info-questions {
        width: 60%;
        padding-top: 10px;
    }
}

.landing-separator {
  width:100vw;
  height: 5vh;
  background: linear-gradient(to top left, white 50%, rgb(238, 230, 206) 50%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.landing-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.landing-question {
  display: flex;
  align-items: center;
  width: 100%;
  color: black;
}

.landing-toggle {
  margin-left: auto; 
}

.landing-answer {
  margin-top: 10px;
  width: 100%;
}

.landing-gallery-item img {
  width: 30vw;
  height: auto;
  align-items: flex-start;
}

.landing-gallery-container {
  background-color: white;
}

.landing-gallery {
  display: flex;
  padding-top: 50px;
  padding-left: 2%;
  padding-right: 2%;
}

.landing-gallery-column {
  background-clip: padding-box;
  margin: 0 5px;
}

.landing-gallery-item {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.landing-gallery-item img {
  width: 100%;
  height: auto;
}