.book-now-page {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.book-intro {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0 8%;
    font-weight: bolder;
    position: relative;
    align-items: center;
    text-align: center;
}

.book-intro h1 {
    font-size: 300%; 
    font-weight: bolder;
    margin-bottom: 10px;
}

.book-now-planner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    background-image: url('./../../public/images/bookpages/book1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
}

.diagram-section {
    background-color: var(--secondary-color);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.diagram-section h1 {
    font-size: 300%; 
    font-weight: bolder;
    margin-bottom: 0px;
}

.diagram-section h2 {
    color: black;
    font-size: 200%;
    font-weight: bolder;
}

.all-diagrams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one-diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.one-diagram img {
    width: 40%;
    padding-bottom: 20px;
}

.one-diagram p {
    text-align: center;
}

@media (min-width: 600px) {
    .all-diagrams {
        flex-direction: row;
        padding: 2%;
    }

    .one-diagram {
        padding: 0% 2%;
        height: 310px;
    }
}

.book-now-footer {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    color: white;
    height: 30vh;
    overflow: hidden;
}

.footer-section {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.footer-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-text {
    padding: 10px;
}

.footer-text h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-text p {
    font-size: 0.9em;
}