.book-page {
    min-height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    background-color: var(--charcoal-gray);
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Allows content to wrap for smaller screens */
    align-items: stretch; /* Ensures same height for image and text */
}

.intro-image {
    flex: 1; /* Take equal space with text */
}

.intro-image img {
    width: 100%;
    height: 100%; /* Ensures it matches the height of the text */
    object-fit: cover; /* Ensures the image doesn't stretch */
}

.intro-text {
    flex: 2; /* Take equal space with the image */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
}

.intro-text h1, h3 {
    text-align: left;
    font-weight: lighter;
    color: var(--secondary-color);
    padding: 0 5%;
}

.intro-text h1 {
    font-size: 2.75rem;
}

.intro-text h3 {
    font-size: 1.5rem;
}

@media (max-width: 1024px) {
    .intro-text  {
        flex: 1;
    }
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
    }

    .intro-image {
        order: 2;
    }

    .intro-image img {
        width: 100%; /* Ensure the image spans the full width */
        max-height: 30vh; /* Reduce the height further */
        object-fit: cover; /* Show the entire image without cropping */
        object-position: center; /* Center the image within its container */
    }

    .intro-text {
        margin: 0%;
        text-align: center;
        order: 1;
    }

    .intro-text h1 {
        font-size: 1.75rem;
        padding: 0 4%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .intro-text h1 span {
        font-size: 1.25rem;
        margin-top: 10px;
    }

    .intro-text h3 {
        font-size: 1rem;
        padding: 0 5%;
        padding-bottom: 20px;
        text-align: center;
    }

    .intro-text h1 .dash {
        display: none;
    }
}

.nights {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}

.night {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
    padding-bottom: 4%;
}

.info {
    padding: 1% 0;
}

.info-header {
    background-color: var(--secondary-color);
    padding: 1% 3%;
}

.info h2 {
    font-size: 2.75rem;
    text-align: left;
    color: var(--charcoal-gray)
}

.info p {
    color: var(--primary-color);
    padding-bottom: 10px;
    font-size: 1.25rem;
}


.toggle-labels {
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 1%;
    font-size: 1.25rem;
    font-weight: bold;
    color: gray;
}

.submit-button {
    padding: 1.5% 2%;
    margin-bottom: 5vh;
    background-color: var(--charcoal-gray);
    color: var(--secondary-color);
    border: 1px solid black;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.submit-button:hover {
    transform: scale(1.05);
}

/* toggle css */
.toggle-list {
    border-top: 1px solid #ccc;
}

.toggle-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.availability-status {
    width: 20%;
    max-width: 150px;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
    color: grey;
    cursor: pointer;
}

.availability-status.available {
    background-color: var(--secondary-color);
}

.availability-status.not-available {
    background-color: white;
}

.availability-status.available:hover, .availability-status.available.selected {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid #333;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.toggle-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 20px;
}

.toggle-icon {
    transition: transform 0.3s ease;
    display: inline-block;
    color: grey;
    margin-right: 20px;
}

.toggle-icon.active {
    transform: rotate(-180deg); /* rotates the arrow to point upwards when active */
}

.toggle-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    width: 70%;
}

.toggle-content p {
    color: black;
    font-size: 1rem;
}

.toggle-content.active {
    max-height: none; /* Set to a value that is greater than what you expect the content height to be */
    transition: max-height 0.3s ease-in; /* Adjust this value to fit your content */
}

.image-carousel {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px; /* Vertical spacing between carousel and content below */
}

.toggle-img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.toggle-item.expanded .availability-status {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    border: none;
    visibility: hidden;
    transition: max-height 0.5s ease-in-out;
}

.toggle-item.expanded .toggle-content {
    width: 95%;
}



@media (max-width: 768px) {
    .info {
        padding: 4%;
    }

    .info-header {
        margin-bottom: 5%;
    }

    .info-header h2 {
        font-size: 1.25rem;
    }

    .info p {
        font-size: 1rem;
    }

    .toggle-labels {
        margin-bottom: 8%;
        font-size: 1rem;
    }


    .availability-status {
        font-size: 0.8rem;
    }

    .toggle-header {
       font-size: 1.2rem;
    }

    .toggle-content p, .toggle-content li {
        font-size: 0.8rem;
    }

    .toggle-item.expanded .toggle-content {
        width: 90%;
    }
}