.book-page {
    min-height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    background-color: rgb(118, 142, 143);
    width: 100%;
}

.intro h1, h2 {
    text-align: center;
    font-weight: lighter;
    color: white;
}

.intro h1 {
    font-size: 300%;
}

.intro h2 {
    font-size: 200%;
    padding-bottom: 30px;
}


.nights {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}

.night {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 95%;
    padding-bottom: 80px;
}


.info h2 {
    font-size: 250%;
    text-align: left;
    color: var(--primary-color);
}

.info p {
    color: grey;
    padding-bottom: 10px;
}

.select-stay {
    margin-top: 10px;
    font-weight: lighter;
    text-align: right;
    margin-right: 2%;
}

.submit-button {
    margin-bottom: 5vh;
}

/* toggle css */
.toggle-list {
    border-top: 1px solid #ccc;
}

.toggle-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.availability-status {
    width: 20%;
    max-width: 150px;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    border: 2px solid black;
    border-radius: 5%;
    color: grey;
    cursor: pointer;
}

.availability-status.available {
    background-color: var(--secondary-color);
}

.availability-status.not-available {
    background-color: white;
}

.availability-status.available.selected {
    background-color: green;
    color: white;
    border: 3px solid #333;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.toggle-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    padding-top: 20px;
  }

  .toggle-icon {
    transition: transform 0.3s ease;
    display: inline-block;
    color: grey;
    margin-right: 20px;
  }

  .toggle-icon.active {
    transform: rotate(-180deg); /* rotates the arrow to point upwards when active */
  }
  
  .toggle-content {
    overflow: hidden;
    max-height: 500em;
    transition: max-height 0.3s ease-in-out;
    width: 70%;
  }

  .toggle-content.active {
    max-height: 500em; /* Set to a value that is greater than what you expect the content height to be */
    transition: max-height 0.3s ease-in; /* Adjust this value to fit your content */
    width: 70%;
  }