.book-page {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.book-intro {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    background-color: rgb(57, 93, 57);
    color: white;
    padding: 8%;
    font-weight: lighter;
    position: relative;
}

.book-intro h1 {
    font-size: 300%; 
}

.book-intro h3 {
    font-weight: lighter; 
    padding-bottom: 10%;
}

.book-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.book-divider svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 59px;
}

.book-divider .shape-fill {
    fill: #FFFFFF;
}

.diagram-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.diagram-section h1 {
    font-size: 300%; 
}

.all-diagrams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.one-diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.one-diagram img {
    width: 40%;
}

.one-diagram p {
    text-align: center;
}

@media (min-width: 600px) {
    .all-diagrams {
        flex-direction: row;
        padding: 2%;
        padding-bottom: 50px;
    }

    .one-diagram {
        padding: 0% 2%;
        height: 310px;
    }
}

.wave-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-divider svg {
    position: relative;
    display: block;
    width: calc(133% + 1.3px);
    height: 61px;
}

.wave-divider .shape-fill {
    fill: rgb(57, 93, 57);
}

.book-trips {
    max-height: 80vh;
    max-width: 100vw;
    background-color: rgb(57, 93, 57);
    padding-top: 40px;
    padding-bottom: 40px;
}

.book-trips .slick-slider {
    width: 90%;
    margin: auto;
}

/* Each slide */
.book-trips .slick-slide {
    text-align: center;
    /* Additional styling for each slide */
}


/* Image container within each slide */
.book-trips .trip-img-container {
    width: 100%; /* Full width */
    padding-bottom: 100%; /* Maintain aspect ratio for square images */
    position: relative;
    margin-bottom: 20px; /* Space below image */
}

/* Image styling */
.book-trips .trip-img-container img {
    position: absolute;
    top: 0;
    left: 2.5%;
    width: 95%;
    height: 100%;
    object-fit: cover; /* Cover the container, can be adjusted */
}

.trip {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will distribute space evenly */
    height: 100%; /* Ensure each trip has the same height */
}

/* Title and link */
.book-trips h2 {
    height: 3rem;
    color: white; /* Title color */
}

.book-trips .book-link {
    color: white;
    cursor: pointer;
    /* Additional link styling */
}

/* Navigation Arrows */
.book-trips .slick-prev,
.book-trips .slick-next {
    color: black; /* Arrow color */
    z-index: 1;
}

/* Dots */
.book-trips .slick-dots li button:before {
    color: white; /* Color of the dots */
    font-size: large
}

.book-trips .slick-dots li.slick-active button:before {
    color: #000; /* Color of the active dot */
}

@media (min-width: 1000px) {
    .book-trips .slick-arrow, .book-trips .slick-dots {
        display: none !important;
    }
}

.book-session {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10%;
}

.book-session h1 {
    color: rgb(57, 93, 57);
    font-size: 300%;
    font-weight: lighter;
}

.book-image {
    background: url('/public/images/header/virtualcaravan.png') center/cover no-repeat;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 150%;
    width: 100%;
  }

  .book-image h1 {
    font-weight: lighter;
  }