.book-page {
    min-height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    background-color: rgb(118, 142, 143);
    width: 100%;
}

.intro h1, h2 {
    text-align: center;
    font-weight: lighter;
    color: white;
}

.intro h1 {
    font-size: 300%;
}

.intro h2 {
    font-size: 200%;
    padding-bottom: 30px;
}

.book-page h1 {
    font-weight: lighter;
}

.nights {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.nights img {
    width: 100%;
    height: 35vh;
    object-fit: cover; /* Image covers the area without distortion */
    object-position: center; /* Center the image in the container */
    border-radius: 5%;
}

.night {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 80px;
}

.pic {
    height: 100%;
    width: 100%;
}

.pic img {
    width: 100%;
    object-fit: cover; /* Cover the area, maintain aspect ratio */
}

@media (min-width: 768px) { 
    .night {
        flex-direction: row;
        align-items: stretch; /* Ensure children fill the available height */
    }

    .pic, .info {
        flex: 1;
        margin: 20px; /* Adjust margin for visual separation */
    }

    .pic {
        height: auto;
    }

    .pic img {
        width: 100%;
        height: 100%; /* This will stretch the image to the height of the .pic */
        max-height: 100vh;
    }

    .reverse-pic {
        order: 2;
    }
    .reverse-info {
        order: 1;
    }
}


.info h2 {
    font-size: 175%;
    text-align: left;
    color: black;
}

.info p {
    color: grey;
}

.select-stay-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}

.blank {
    width: 80%;
}

.select-stay {
    margin-top: 10px;
    font-weight: lighter;
}

/* toggle css */
.toggle-list {
    border-top: 1px solid #ccc;
}

.toggle-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.availability-status {
    width: 20%;
    margin-top: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5%;
    color: grey;
    cursor: pointer;
}

.availability-status.available {
    background-color: rgb(238, 230, 206);
}

.availability-status.not-available {
    background-color: white;
}

.availability-status.available.availability-selected {
    background-color: green;
    color: white;
    border: 3px solid #333;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.toggle-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    padding-top: 20px;
    width: 75%;
  }

  .toggle-icon {
    transition: transform 0.3s ease;
    display: inline-block;
    color: grey;
  }

  .toggle-icon.active {
    transform: rotate(-180deg); /* rotates the arrow to point upwards when active */
  }
  
  .toggle-content {
    overflow: hidden;
    max-height: 100em;
    transition: max-height 0.3s ease-in-out;
    width: 70%;
  }

  .toggle-content.active {
    max-height: 100em; /* Set to a value that is greater than what you expect the content height to be */
    transition: max-height 0.3s ease-in; /* Adjust this value to fit your content */
    width: 70%;
  }