body {
  margin: 0px;
  padding: 0px;
  background-color: var(--secondary-color);
  font-family: "Orpheus Pro", New Century Schoolbook, TeX Gyre Schola, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url(https://db.onlinewebfonts.com/c/2aea0ac500c896188f9ad191c231029c?family=Orpheus+Pro);
code {
  font-family: "Orpheus Pro", New Century Schoolbook, TeX Gyre Schola, serif;
}

:root {
  --primary-color: rgb(28, 52, 40);
  --secondary-color: rgb(247, 236, 214);
  --light-color: rgb(247, 111, 131);
  --text-light: white;
  --text-dark: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Orpheus Pro", New Century Schoolbook, TeX Gyre Schola, serif;
  font-weight: lighter;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}
