body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(238, 230, 206);
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
