.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    font-family: 'Arial', sans-serif;
    padding: 20px 50px;
  }
  
  .header-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  
  .text-area {
    flex: 1;
    width: 95%;
  }
  
  .title {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: bolder;
    flex-wrap: wrap;
    margin: 0;
  }
  
  .subtitle {
    font-size: 75px; 
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    white-space: nowrap;
  }

  .trip-info-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 105%;
    padding: 0;
    margin: 0;
    margin-right: -60px;
  }
  
  .trip-info {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 20px;
    margin: 40px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
  }

  .trip-info-image {
    flex: 1;
    margin: 40px 0;
    display: flex;
    align-items: flex-start;
    height: 50vh;
  }

  .trip-info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .trip-info h3 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .info-item img {
    width: 30px;
    height: 30px;
    color: var(--secondary-color);
  }
  
  .info-label {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
  .info-value {
    font-size: 16px;
    font-style: italic;
    text-align: right;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 20px;
  }

  .text-content {
    background-color: var(--secondary-color);
    color: black;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    font-family: inherit;
    text-align: center;
  }

  .text-content h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 40px;
  }

  .text-content p {
    background-color: #f6ddb9;
    padding: 20px;
    font-size: 1.15rem;
    color: var(--primary-color-dark)
  }

  .best-stuff {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 20px;
    padding: 20px;
  }

  .best-object {
    flex: 1;
    max-width: calc(30% - 14px);
    margin: 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
  }

  .best-title, .best-answer {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px 0;
    font-weight: bolder;
    width: 100%;
    text-align: center;
  }

  .best-images {
    position: relative;
    width: 100%;
    height: 450px;
    margin-bottom: 40px;
  }

  .best-images .slick-slider,
  .best-images .slick-list,
  .best-images .slick-track,
  .best-images .slick-slide,
  .best-images .slick-slide > div {
    height: 100%;
  }

  .best-image {
    width: 100%;
    height: 450px;
    object-fit: contain;
    border-radius: 8px;
  }

  /* Slider dots styling */
  .best-images .slick-dots {
    bottom: -30px !important;
    z-index: 1;
  }

  .best-images .slick-dots button {
    color: var(--primary-color);
  }

  .best-images .slick-dots li button:before {
    color: var(--primary-color) !important;
    font-size: 8px !important;
    opacity: 0.8 !important;
  }

  .best-images .slick-dots li.slick-active button:before {
    color: var(--primary-color) !important;
    opacity: 1 !important;
    font-size: 10px !important;
  }

  .best-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .best-answer {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .outro-text {
    width: 90%;
    margin: 30px 0;
    font-size:large;
    text-align: center;
    color: var(--primary-color-dark);
  }

  .book-now-button {
    background-color: var(--charcoal-gray);
    color: var(--secondary-color);
    padding: 15px;
    border-radius: 8%;
    margin: 15px;
    width: 250px;
    font-weight: bolder;
    font-size: larger;
  }

  .book-now-button:hover {
    background-color: #4f4d4d;
  }

  @media (max-width: 1024px) {
    .best-title, .best-answer {
      font-size: 1rem;
    }

    .best-images {
      height: 350px;
    }

    .best-image {
      height: 350px;
    }

    .best-images .slick-dots {
      bottom: 25px;
      z-index: 1;
    }
  }

  @media (max-width: 768px) {
    .page {
      padding: 20px 20px;
    }

    .header-section {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .title {
      padding-top: 0;
      margin-top: 0;;
      font-size: 35px;
    }

    .subtitle {
      font-size: 25px;
    }

    .text-content {
        width: 95%;
        left: 0;
      }

    .trip-info-container {
      display: block;
      width: 100%;
      margin-right: 0px;
    }

    .trip-info {
        min-width: 300px;
        margin-bottom: 0;
        height:auto;
        padding-bottom: 40px;
      }

    .trip-info-image {
      margin-top: 0;
      height: auto;
      max-height: 315px;
      object-fit:fill;
    }

    .info-item {
      padding: 10px 0;
    }

    .info-label {
      margin-right: 50px;
    }

    .best-stuff {
      flex-direction: column;
      padding: 10px;
    }

    .best-object {
      max-width: 100%;
      margin-bottom: 20px;
    }

    .best-title, .best-answer {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: smaller;
      padding: 0;
      font-size: 1.3rem;
    }

    .outro-text {
      font-size: medium;
    }

    .book-now-button {
      font-size: medium;
      width: 150px;
    }
  }