.payment-page {
    min-height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-page h2 {
    color: black;
}

.form-container {
    width: 40%;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.button  {
    height: 50px;
    background-color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 30px;
    width: 40%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.button:hover {
    background-color: rgb(221, 195, 89);
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-group {
    flex: 1;
    margin-right: 10px;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.banner {
    margin: 10px;
}

.green {
    background-color: lightgreen;
}

.red {
    color: rgb(247, 111, 131);
}
