.review-trip-page {
    background: white;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    font-size: 300%;
    font-weight: lighter;
}

.header-info {
    font-weight: lighter;
    color: rgba(86, 84, 84, 0.998);
    border-bottom: solid 2px var(--secondary-color);
    padding: 0;
}

.nightstays-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
    margin-top: 3%;
}

.nightstay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    width: calc(33.333% - 20px);
    max-width: 400px;
    height: 550px;
    padding: 20px;
    border-radius: 150px / 80px;
    /* border-radius: 10px; */
}

.nightstay h2 {
    text-align: center;
}

.disclaimer {
    width: 80%;
    font-size: 1em;
    color: rgba(86, 84, 84, 0.8);
    text-align: center;
}

.stay-disclaimer {
    width: 85%;
    font-size: medium;
    font-size: 0.9em;
}

.reviewtrip-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.reviewtrip-button  {
    height: 60px;
    background-color: var(--secondary-color);
    color: var(--primary-color-dark);
    margin-top: 20px;
    margin-bottom: 50px;
    width: 20%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.reviewtrip-button:hover {
    background-color: rgb(221, 195, 89);
}

.accommodation-image {
    width: 100%;
    max-width: 500px;
    height: 300px;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 8px;
}

.night-range-chip {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: gray;
    color: white;
    padding: 12px 12px;
    border-radius: 25px;
    font-weight: bold;
    z-index: 2;
    font-size: 1.2em;
    text-align: center;
}

.price-chip {
    background-color: var(--primary-color);
    color: white;
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.price-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.2em;
}

.toggle-icon-review {
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.toggle-icon-review.active {
    transform: rotate(-180deg);
}

@media (max-width: 1199px) {
    .nightstay {
        width: calc(50% - 20px);
    }

    .reviewtrip-buttons {
        justify-content: space-between;
    }

    .reviewtrip-button {
        width: 40%;
    }
}

@media (max-width: 914px) {
    .header-title {
        font-size: 200%;
        margin: 8%;
    }
    .nightstays-container {
        padding: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 600px; /* Adjust based on your needs */
    }

    .nightstay {
        width: 70%;
        margin: 0;
        position: absolute;
        transition: opacity 0.3s ease-in-out;
    }

    .nightstay.hidden {
        opacity: 0;
        pointer-events: none;
    }

    .nightstay.active {
        opacity: 1;
        pointer-events: auto;
    }

    .arrow-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .arrow-container.left {
        left: 5%;
    }

    .arrow-container.right {
        right: 5%;
    }

    .carousel-arrow {
        color: var(--charcoal-gray);
    }
}

@media (max-width: 768px) {
    .toggle-item {
        margin: 0 !important;
    }

    .toggle-images img {
        height: 250px !important;
    }

    .night-range-chip {
        font-size: 1em;
        width: 80%;
    }
}

@media (max-width: 600px) {
    .arrow-container.left {
        left: 0;
    }

    .arrow-container.right {
        right: 0;
    }

    .nightstays-container {
        width: 70%;
    }

    .toggle-item {
        margin-bottom: 50px !important; 
    }
}

@media (min-width: 915px) {
    .arrow-container {
        display: none;
    }
}