.review-trip-page {
    background-color: white;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    font-size: 300%;
    font-weight: lighter;
}

.header-info {
    font-weight: lighter;
    color: rgba(86, 84, 84, 0.998);
    border-bottom: solid 2px var(--secondary-color);;
}

.nightstay {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.disclaimer {
    width: 50%;
}

.stay-disclaimer {
    width: 85%;
    font-size: medium;
}

.reviewtrip-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.reviewtrip-button  {
    height: 50px;
    background-color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 30px;
    width: 40%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.reviewtrip-button:hover {
    background-color: rgb(221, 195, 89);
}