.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: peachpuff;
}

header {
  background-color: lavender;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.trip-card {
  border: 10px solid #ddd;
  padding: 16px;
  margin: 16px;
  background-color: lightskyblue;
  color: darkslateblue;
}

.trip-card > div {
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.form-container label {
  display: flex; /* Add this line to make the label a flex container */
  align-items: center;
}

.form-container span {
  /* Add any label-specific styling here */
  display: flex;
  align-items: center;
  width: 200px;
}

.form-container input {
  /* Add any input-specific styling here */
  width: 200px;
}

.form-container button {
  /* Add any button-specific styling here */
  margin-left: 37.5%;
  width: 25%;
}
